body
{
  font: 1.2em monospace;
  text-align: center;
}

h1
{
  font-size: 48px;
}
button
{
  cursor: pointer;
  border: none;
  outline: none;
  padding: 15px;
}

#button1, #button2, #button3, #button4, #button5, #button6, #button7, #button8, #button9
{
  font-size: 60px;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  vertical-align: top;
}

#result
{
  font-size: 36px;
  font-weight: bold;
}